<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @municipio.nombre %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @municipio.deleted_at %>
</p>


<%= link_to 'Edit', edit_municipio_path(@municipio) %> |
<%= link_to 'Back', municipios_path %>
