<div id="page">
<h5>Contratistas</h5>
 <!--inicio buscador-->
  <div id="search">
        <%= form_tag(contratistas_path, :method => 'get',:id=>'buscar') %>
          <table>
            <tr>
              <td><%= text_field_tag :txtbuscar, params[:txtbuscar], :class => "form-text" %></td>
              <td><%= submit_tag "Buscar", :class => 'button' %></td>
            </tr>
           </table>
  </div>
  <!--fin buscador-->
  <br class="clearfix" />
  <table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Empresa</th>
        <th>CUIT</th>
        <th>Domicilio Legal</th>
        <th>Telefono Fijo - Celular</th>
        <th>Correo Electronico</th>
    </tr>
    <%unless @contratistas.blank? %>
        <% @contratistas.each do |contratista| %>
             <tr class="<%= cycle('rowA','rowB')%>">
                <td><%= contratista.contratista_nombre %></td>
                <td><%= contratista.contratista_apellido %></td>
                <td><%= contratista.empresa %></td>
                <td><%= contratista.contratista_cuit %></td>
                <td><%= contratista.contratista_domicilio_legal %></td>
                <td><%= contratista.contratista_telefono %></td>
                <td><%= contratista.contratista_email %></td>
                <!-- <td><%#= contratista.deleted_at %></td> -->
                <td><%= link_to 'Ver', contratista %></td>
                <td><%= link_to 'Editar', edit_contratista_path(contratista) %></td>
                <td><%= link_to 'Eliminar', contratista, :method => :delete, :data => { :confirm => 'Esta seguro?' } %></td>
            </tr>
            <% end %>
        <%else%>
            <tr>
              <td><font color="red">No se encontraron resultados</font></td>
            </tr>
        <%end%>
  </table>
  <div style="text-align:center">
    <%= will_paginate @contratistas, :previous_label => '<< Anterior',:next_label => 'Siguiente >>'%>
  </div>

  <%= link_to 'Nuevo Contratista', new_contratista_path %>
  <br class="clearfix" />
  <br class="clearfix" />


</div>