<h1>Listing tipos_certificados</h1>

<table>
  <tr>
    <th>Tipo certificado descripcion</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipos_certificados.each do |tipo_certificado| %>
  <tr>
    <td><%= tipo_certificado.tipo_certificado_descripcion %></td>
    <td><%= tipo_certificado.deleted_at %></td>
    <td><%= link_to 'Show', tipo_certificado %></td>
    <td><%= link_to 'Edit', edit_tipo_certificado_path(tipo_certificado) %></td>
    <td><%= link_to 'Destroy', tipo_certificado, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo certificado', new_tipo_certificado_path %>
