<%= form_for(@tipo_estado) do |f| %>
  <% if @tipo_estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_estado.errors.count, "error") %> prohibited this tipo_estado from being saved:</h2>

      <ul>
      <% @tipo_estado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_estado_descripcion %><br />
    <%= f.text_field :tipo_estado_descripcion %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br />
    <%= f.datetime_select :deleted_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
