<h1>Listing tipos_estados</h1>

<table>
  <tr>
    <th>Tipo estado descripcion</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipos_estados.each do |tipo_estado| %>
  <tr>
    <td><%= tipo_estado.tipo_estado_descripcion %></td>
    <td><%= tipo_estado.deleted_at %></td>
    <td><%= link_to 'Show', tipo_estado %></td>
    <td><%= link_to 'Edit', edit_tipo_estado_path(tipo_estado) %></td>
    <td><%= link_to 'Destroy', tipo_estado, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo estado', new_tipo_estado_path %>
