<p id="notice"><%= notice %></p>

<p>
  <b>Contratista nombre:</b>
  <%= @contratista.contratista_nombre %>
</p>

<p>
  <b>Contratista apellido:</b>
  <%= @contratista.contratista_apellido %>
</p>

<p>
  <b>Empresa:</b>
  <%= @contratista.empresa %>
</p>

<p>
  <b>Contratista cuit:</b>
  <%= @contratista.contratista_cuit %>
</p>

<p>
  <b>Contratista domicilio legal:</b>
  <%= @contratista.contratista_domicilio_legal %>
</p>

<p>
  <b>Contratista telefono:</b>
  <%= @contratista.contratista_telefono %>
</p>

<p>
  <b>Contratista email:</b>
  <%= @contratista.contratista_email %>
</p>

<p>
  <b>Deleted at:</b>
  <%= @contratista.deleted_at %>
</p>


<%= link_to 'Edit', edit_contratista_path(@contratista) %> |
<%= link_to 'Back', contratistas_path %>
