<div id="page">
	<div id="contentSection">
		<div class="box">
			<h3>Administracion</h3>
			<ul class="list">
				<li class="first"><%=link_to "Contratistas", contratistas_path%></li>
				<li><%=link_to "Municipios", municipios_path%></li>
				<li><%=link_to "Localidades", localidades_path%></li>
				<li><%=link_to "Tipos de Certificados", tipos_certificados_path%></li>
				<li><%=link_to "Tipos de Normas Legales", tipos_normas_legales_path%></li>
				<li><%=link_to "Estados", tipos_estados_path %></li>
			</ul>
		</div>
		<br class="clearfix" />
		<br class="clearfix" />
		<br class="clearfix" />
	</div>
	<br class="clearfix" />
</div>
	